html {
    margin: 0 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica;
}

.links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.signup-info {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 18px;
}