html {
    margin: 0 100px;
    font-family: Helvetica;
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    border-radius: 7px;
    color: white;
    background-color: #3882F6;
    height: 30px;
    width: 100px;

}

.links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.signup-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

img {
    height: 200px;
    width: 500px;
    border-radius: 18px;
    flex: 0 0 auto;
}

.header-two {
    text-align: center;
}

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    display: flex;
    border: 3px solid white;
    border-radius: 8px;
    height: 100px;
    width: 100px;
}

.square-one {
    border: 3px solid white;
}

.square-two {
    border: 3px solid white;
}

.square-three {
    border: 3px solid white;
}

.square-four {
    border: 3px solid white;
}